/*Entire Website*/
* {
	margin: 0;
	padding: 0;
}

/*Entire Body*/
body {
  background: #2b2b2b;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

#mainHeader {
	color: #fff;
	font-size: 30px;
	text-align: left;
	background-image: url("../img/headerBackground.jpg");
	background-repeat: no-repeat;	
	background-size: 100%;
	margin: auto;
	width: 100%;
	padding: 0px;
}

#navbar {
	background-color: #db0000;
	color: #fff;
	width: 100%;
}

#navbar ul {
	padding: 0;
	list-style: none;
	float: right;
}

#navbar li {
	float: left;
}

#navbar a {
	color: #fff;
	font-size: 20px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#home {
  color: #fff;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

#homeProfilePic {
	width: 100%;
	padding-bottom: 15px;
}

#homeProfilePic img {
	display: block;
	width: 250px;
	height: 250px;
	margin: auto;
	align: middle;
}

#about {
  color: white;
  margin: 0px;
  padding: 20px;
  text-align: center;
  background-color: #db0000;
}

#skills {
  color: #333;
  margin: 0px;
  padding: 20px;
  background-color: #fff;
}

#experience {
  color: #fff;
  margin: 0px;
  padding: 20px;
  background-color: #333;
}

#contact {
  color: #333;
  margin: 0px;
  padding: 20px;
  background-color: #fff;
}

#footer {
	height: 50px;
	width: 100%;
	background-color: #111;
	margin-top: 50px;
	text-align: center;
	color: #fff;
}

@media screen and (max-width: 1200px) {

}
