/*Entire Website*/
* {
	margin: 0;
	padding: 0;
}

/*Entire Body*/
body {
  background: #2b2b2b;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

#mainHeader {
	color: #fff;
	font-size: 30px;
	text-align: left;
	background-image: url("../img/headerBackground.jpg");
	background-repeat: no-repeat;	
	background-size: 100%;
	margin: auto;
	width: 100%;
	padding: 0px;
}

#navbar {
	background-color: rgba(175, 0, 0, 0.8);
	color: #fff;
	width: 100%;
}

#navbar ul {
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
	float: right;
}

#navbar li {
	float: left;
}

#navbar a {
	color: #fff;
	font-size: 20px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#navbar a:hover {
	color: #333;
}

#homeProfilePic {
	width: 100%;
	padding-bottom: 15px;
}

#homeProfilePic img {
	display: block;
	width: 250px;
	height: 250px;
	margin: auto;
	align: middle;
}

.homeText {
	background-color: #333;
	padding: 10px;
	width: 50%;
	margin: auto;
}

#home {
  color: #fff;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  background-image: url("../img/homeBackground.jpg");
  background-repeat: no-repeat;	
  max-width: 100%;
  background-size: cover;
}

.sectionHeader {
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: solid 2px;
	text-align: center;
	margin-bottom: 20px;
}

.miniSectionHeader {
	border-bottom: solid 2px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}

.miniSectionProjects {
	background-color: #e2e2e2;
	padding: 10px;
}

.miniSectionExp {
	background-color: #444;
	padding: 10px;
}

.miniSectionContact {
	background-color: #e2e2e2;
	padding: 10px;
}

#about {
  color: white;
  margin: 0px;
  padding: 20px;
  text-align: center;
  background-color: #db0000;
}

#projects {
  color: #333;
  margin: 0px;
  padding: 20px;
  background-color: #fff;
}

#projects h1 {
	text-align: center;
}

#experience {
  color: #fff;
  margin: 0px;
  padding: 20px;
  background-color: #333;
}

#experience li {
	margin-left: 40px;
	padding: 2px;
}

#contact {
  color: #333;
  margin: 0px;
  padding: 20px;
  background-color: #fff;
}

.contactDiv {
	width: 33%;
	display: inline-block;
}
	
#footer {
	width: 100%;
	padding: 15px;
	background-color: #222;
	text-align: center;
	color: #fff;
}

#footer a {
	color: #9b9b9b;
}

@media screen and (max-width: 1200px) {

}

