/*Nemeth Main CSS*/

/*meyerweb reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:         0;
	padding:        0;
	border:         0;
	font-size:      100%;
	font:           inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing:  0;
}
/*End Meyerweb reset*/

:root {
    --primary: #3d3d3d;
    --dark:    #111;
    --light:   #FFF;
}

html {
    box-sizing:  border-box;
    font-family: arial, helvetica, sans-serif;
    color:       var(--dark);
}

body {
    background-color: var(--primary);
    margin:           0rem 0rem;
    line-height:      1.4;
}

img {
    max-width: 100%;
}



/* Generic Containers */

.container {
    width:      100%;
    height:     auto;
    padding:    0.5rem 15%;
    box-sizing: border-box;
}


/* For Screens < 768px */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'landing-content landing-content landing-content'
    'about-me        about-me        about-me'
    'projects        projects        projects'
    'content         content         content'
    'footer          footer          footer';
}

/*
.grid-item {
    border-style: solid;
    border-width: 5px;
    border-color: #000FFF;
}
*/




/*Main Navbar*/

.main-nav {
    position:         fixed;
    top:              0;
    width:            100%;
    background-color: var(--dark);
}

.main-nav ul {
    display:               grid;
    padding:               1.5rem;
    text-align:            center;
    grid-gap:              1rem;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    width:           100%;
    background:      var(--dark);
    text-decoration: none;
    padding:         0.5rem;
    text-align:      center;
    color:           var(--light);
    text-transform:  uppercase;
    font-size:       0.6rem;
    font-weight:     bold;
    box-shadow:      none;
    box-sizing:      border-box;
}

.main-nav a:hover {
    color:         var(--light);
    border-bottom: 3px solid var(--light);
    transition:    all 0.1s ease-in-out;
} 

.main-nav a:active {
    color:         var(--light);
    border-bottom: 3px solid var(--light);
}


/* Landing Page Content */

.landing-content {
    margin-top:       2rem;
    grid-area:        landing-content;
    text-align:       center;
    color:            var(--light);
    background-image: url("../img/sunset-mountains.jpg");
    background-size:  cover;
    height:           94vh;
}

.landing-content h1 {
    font-size:   3rem;
    padding-top: 5rem;
    text-shadow: 5px 5px 5px #111;
}

.landing-content p {
    font-size:   1.25rem;
    text-shadow: 2px 2px 2px #111;
}


/* About Me Section */

.about-me {
    grid-area:        about-me;
    text-align:       center;
    color:            var(--light);
    background-color: var(--dark);
}

.about-me h1 {
    font-size: 2rem;
    padding:   1.5rem;
}

.about-me p {
    font-size:      1.125rem;
    padding-bottom: 1.5rem;
}

#head-shot {
    height:         128px;
    width:          128px;
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
    text-align:     center;
    padding-bottom: 2rem;
}

#head-shot img {
    border-radius: 50%;
}



/* Projects Section */

.projects {
    grid-area:        projects;
    background-color: #FF9900;
    text-align:       center;
    color:            var(--light);
}

.projects h1 {
    font-size: 2rem;
    padding:   1.5rem;
}

.projects p {
    font-size: 1.125rem;
}

/* Project Grid Section */

.project-grid {
    display: grid;
    grid-gap: 1rem;
    padding:  1rem;
    grid-template-columns: repeat(1, 1fr);
}

.project-card {
    background-color: var(--primary);
    border-color: var(--dark);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.project-card h1 {
    font-size: 1.5rem;
    padding:   0.5rem;
}

.project-card p {
    padding: 0.5rem 1rem;
}



/* Content will be renamed */

.content {
    grid-area:        content;
    background-color: #FFF;
    text-align:       center;
}

.content a {
    background-color: #DDD;
}

.content h1 {
    font-size: 2rem;
}

.content p {
    font-size: 1.125rem;
}


/* Contact Navbar */

.contact-nav {
    text-align: center;
}

.contact-nav ul {
    display:  grid;
    grid-gap: 1.5rem;
    padding:  0;
    grid-template-columns: repeat(3, 1fr);
}

.contact-nav a {
    width:           100%;
    background:      #FFF;
    display:         block;
    text-decoration: none;
    padding:         0.5rem;
    color:           #111;
    text-transform:  uppercase;
    font-size:       1.1rem;
    box-shadow:      var(--shadow);
    box-sizing:      border-box;
}



/* Footer Section */

.footer {
    grid-area:        footer;
    background-color: var(--dark);
    text-align:       center;
}

.footer p {
    font-size: 1rem;
    color:     #777;
    margin:    1rem;
}


/* Footer Links */

.footer-links {
    width:            100%;
    background-color: var(--dark);
}

.footer-links ul {
    display:               grid;
    padding:               1rem;
    text-align:            center;
    grid-gap:              1rem;
    grid-template-columns: 1fr;
}

.footer-links a {
    width:           100%;
    background:      var(--dark);
    text-decoration: none;
    padding:         0.5rem;
    text-align:      center;
    color:           var(--light);
    text-transform:  uppercase;
    font-size:       1rem;
    font-weight:     bold;
    box-shadow:      none;
    box-sizing:      border-box;
}

.footer-links a:hover {
    color: #FF9900;
}



/* ignoring this screen size for now. Adds unnecessary complication at this stage in the project

@media screen and (min-width: 480px)
{
    .grid-container {
        display:               grid;
        background-color:      var(--dark); 
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "landing-content landing-content landing-content"
        'about-me        about-me        about-me'
        'projects        projects        projects'
        "content         content         content"
        "footer          footer          footer";
    }

    .main-nav a {
        font-size: 0.8rem;
    }

    .landing-content h1 {
        font-size:   3.8rem;
    }
}

*/




@media screen and (min-width: 900px)
{
    .grid-container {
        display:               grid;
        background-color:      var(--dark); 
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "landing-content landing-content landing-content"
        "about-me        about-me        about-me"
        'projects        projects        projects'
        "content         content         content"
        "footer          footer          footer";
    }

    .main-nav ul {
        grid-gap:     1rem;
        margin-right: 20%;
        margin-left:  20%;
    }

    .main-nav a {
        font-size: 1rem;
    }

    .landing-content h1 {
        font-size:   7rem;
        padding-top: 7rem;
    }

    .landing-content p {
        font-size: 2rem;
    }

    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-links ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

